.cant-choose {
}

.nowrap {
	white-space: nowrap;
}

.fc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.WH {
	width: 100%;
	height: 100%;
}

.W {
	width: 100%;
}

.H {
	height: 100%;
}
